<div class="page-header">
  <center><h1>{{title}}</h1></center>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>description</th>
        <th>2015</th>
        <th>2016</th>
        <th>Comparativa</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="contrato in contratos">
        <td>{{contrato.description}}</td>
        <td>{{contrato[2015].amount | number: 2}}</td>
        <td>{{contrato[2016].amount | number: 2}}</td>
        <td><span ng-if="contrato.showButton" class="label label-warning">Si es sospechoso!</span></td>
      </tr>
    </tbody>
  </table>
</div>


